:root {
  --background-color: #f5f5f5;
  --heading-font-family: "Shadows Into Light", cursive;
  --sub-font-family: "Pacifico", cursive;
  --secondary-color: #add8e6;
  --icon-color: #ffc107;
}

body {
  background-color: var(--background-color);
  text-align: center;
  font-size: 38px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sub-font-family);
  font-weight: normal;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: #ffc107;
}
h4 {
  font-size: 40px;
}
p {
  font-size: 28px;
}
#info {
  background-color: #f0f8ff;
}

#biography {
  background-color: #fae1fb;
}

.nav-item-first :hover {
  color: var(--secondary-color);
}
.nav-item-second :hover {
  color: var(--secondary-color);
}
.nav-item-third :hover {
  color: var(--secondary-color);
}
.nav-item-fourth :hover {
  color: var(--secondary-color);
}

a:visited {
  color: #708090;
  background-color: transparent;
  text-decoration: none;
}
.icone {
  padding: 10px 15px;
}
.icone :hover {
  color: var(--icon-color);
}
